{% extends 'rishabs/layout1.html' %}
{% block content %}
    <div>
        <h1>RISHAB'S APP</h1>
    </div>
    <div class="forms">
        <form action="{% url 'login_view' %}" method="POST">
            {% csrf_token %}
            <div>
                <input type="text" class="name1" placeholder="Enter your number " name="username">
                <input type="password" class="name1" placeholder="Enter your password " name="password">
            </div>

            
            {% if message %}
            <div>
                <p class="error">{{ message }}</p>
            </div>
            {% endif %}

            <div>
                <button class="button1" type="submit">LOGIN</button>
            </div>

            <div class="acc">
                <p>Don't have an account?<a href="{% url 'register_view' %}"> Register here</a></p>
            </div>
        </form>
    </div>
{% endblock %}