@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    font-family: "Inter";
}
body{
    margin: 0px;
    background-color: #e4f1f1;
}

.main-body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    text-align: center;
}

h3{
    color: rgb(68, 68, 68);
}

.error{
    color: black;
    background-color: rgb(255, 138, 138);
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
}

.navbar1{
    background-color:#152D35;
    align-self:stretch;
}

.nav-comp{
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    margin: 0;
    padding: 0; 
  
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
text-decoration: underline;
}

.photo1{
    padding-top: 2rem;
    width:15rem;
    height: 10;
}

.photo1 > img{
    width: 100%;
}


.forms > form {
    
    display: flex;
    flex-direction: column;
}

form>button{
    align-self: center;
}

.name1
{
    width: 228px;
    height: 25px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

.button1
{
    margin-top: 10px;
    width: 100%;
    padding-block: 0.8rem;
    border-radius: 5px;
    background-color: #112031;
    color: white;
    border: 1px solid #dcdcdc;
}

.button2{
    width: 80%;
    padding: 0.5rem;
    padding-block: 1rem;
    border-radius: 5px;
    background-color: #112031;
    color: white;
    border: 1px solid #dcdcdc;
}

.button2:hover{
    cursor: pointer;
    background-color: #345B63;
    color:white;
    transition: 0.3s;
}



.button1:hover{
    cursor: pointer;
    background-color: #345B63;
    color:white;
    transition: 0.3s;
}

.new-ui{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    border-radius: 1.5rem;
    margin-top: 3rem;
    background-image: linear-gradient(#345B63 15%,white);
    width:60%;
}
 
.holder{
    background-color: #e4f1f1;
    padding: 1rem;
    width: 80%;
    margin-top: 0.7rem;
    border-radius: 1.5rem;
}

.holder-contents{
    width: 100%;
    overflow-x: auto;
}

.holder-head{
    padding-block:1rem;
    padding-inline: 1rem;
    margin-inline: 1rem;
    box-shadow: 10px 10px 10px #152D35;
    background-color: #152D35;
    color: white;
}

.holder-contents > h2 {
    margin: 0.5rem;
    align-self: left;
}

.holder-items{
    display: flex;
}

.fix-l{
    margin-right: 1.5rem;
}

.fix-ls{
    margin-right: 5rem;
}

.acc{
    margin-top: 7px;
}