body{
    margin: 0px;
}

.main-body{
    margin: 0px;
    padding: 0px;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(80, 78, 78),white);
}


.photo1{
    width:345px;
    height: 364px;
}

.photo1 > img{
    width: 100%;
}

.name1
{
    width: 228px;
    height: 25px;
    padding: 5px;
    border: 1px solid ;
    border-radius: 4px;
}

.button1
{
    margin-top: 20px;
    height: 30px;
    width: 63px;
    border-radius: 5px;
    background-color: #212121;
    color: white;
}





