body{
    margin: 0px;
}

.main-body{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #686868;

}


.header {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.menu{
    padding-left: 15px;
    text-align: left;
}

.name{
    flex:1;
    text-align: right; 
}



.input1{
    margin-top: 0px;
    width: 264px;
    height: 35px;
    border-radius: 20px ;
    padding-left: 15px;
    border: none;
    background-color: #d9d9d9;

}

.options{
    display: flex;
    flex: 1fr 1fr 1fr 1fr;
    gap:5px;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-around;
    padding-left:7px;
    padding-right: 7px;
}

.option{
    background-color: #d9d9d9;
    width:100px;
    border-radius: 5px;
}

.option img{
    width:100%;
}

.navbar{
    position: fixed;
    bottom: 0px;
    margin-top: 25rem;
    height: 50px;
    width: 100%;
    color: white;
    background-color: black;
}

.head-name
{
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    border-bottom: 1px solid;
}

.items
{
    text-align: left;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;

}