{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/dash.css' %}">
        <title>Rishabs App</title>
    </head>
    <body>
        <div class="main-body">
            <navbar class="navbar1">
                <ul class="nav-comp">
                        <li><a href="#">MENU</a></li>
                        <li><a href="#">PROFILE</a></li>
                        <li><a href="#">LOGOUT</a></li>
                </ul>
            </navbar>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>