{% extends 'restaurent/layout3.html' %}
{% block content %}
<div class="order-details">
    <h1>ORDER DETAILS</h1>
    <table class="styled-table">
        <thead>
            <th>Item</th>
            <th>Price</th>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>&#x20b9; {{ item.price }}</td>
            </tr>
            {% endfor %}
            <tr id="order-total">
                <td>Total</td>
                <td>&#x20b9; {{ price }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}