body{
    margin: 0px;
}

.main-body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgb(80, 78, 78),white);
    padding-bottom: 20px;
    text-align: center;
}
.error{
    color: black;
    background-color: rgb(255, 138, 138);
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
}

.navbar1{
    background-color:#333;
    align-self:stretch;
}

.nav-comp{
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    margin: 0;
    padding: 0; 
  
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
background-color: #111;
}

.header {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
}

.menu{
    padding-left: 20px;
    text-align: left;
}

.name{
    flex:1;
    text-align: right; 
    padding-right: 20px;
}


.options{
    display: flex;
    flex: 1fr 1fr 1fr 1fr;
    gap:5px;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-around;
    padding-left:7px;
    padding-right: 7px;
}

.option{
    background-color: #d9d9d9;
    width:100px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px black;
}

.head-name
{
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2em;
    border-bottom: 1px solid;
}

.items
{
    text-align: left;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    background-color: #d9d9d9;
    box-shadow: 5px 5px 7px black;
    margin-bottom: 12px;
    border-radius: 8px;
}

.i-name{
    padding-left: 1rem;
    width: 18rem;    
}

.i-check{
    padding-right: 1rem;
    align-self: center;
}

.i-check > input{
    width: 2rem;
    height: 1rem;
}

.i-price{
    padding-right: 2rem;
}


.head{
    padding-bottom: 60px;
}

.button2{
    width: 50%;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #212121;
    color: white;
}

.button2:hover{
    cursor: pointer;
    background-color: white;
    color:#212121;
    transition: 1s;
}

.option_a{
    text-decoration: none;
    background-color: black;
    color: black;
}

