{% extends 'rishabs/layout2.html' %}
{% block content %}
 
<div>

        <form action="{% url 'order' %}" method="POST">
            {% csrf_token %}
            <div class="main-body">
                <div class="header">
                    <div class="menu">
                        <h1>MENU</h1>
                    </div>

                    <div class="name">
                        <h3>{{ user.username }}</h1>
                    </div>
                    
                </div>
    
    
                <div class="options">
                    <div class="option">
                        <a class="option_a" href="#juices"><h3>Juices</h3></a>
                    </div>
                    <div class="option">
                        <a class="option_a" href="#hot"><h3>Hot Drinks</h3></a>
                    </div>
                    <div class="option">
                        <a class="option_a" href="#snack"><h3>Snacks</h3></a>
                    </div>
                </div>
    
                <div class="head">
                    <div class="head-name" id="juices">Juices</div>
                    {% for jui in juice %}
                    <div class="items">
                        <div class="i-name">
                            <p >{{jui.name}}</p>
                        </div>
                        <div class="i-price">
                            <p >&#x20b9; {{jui.price}}</p>
                        </div>
                        <div class="i-check">
                            <input  type="checkbox" name="items[]" value="{{ jui.pk }}">
                        </div>
                    </div>
                    {% endfor %}


                    <div class="head-name" id="hot">Hot Drinks</div>
                    {% for hot in hot_drinks %}
                    <div class="items">
                        <div class="i-name">
                            <p >{{hot.name}}</p>
                        </div>
                        <div class="i-price">
                            <p >&#x20b9; {{hot.price}}</p>
                        </div>
                        <div class="i-check">
                            <input  type="checkbox" name="items[]" value="{{ hot.pk }}">
                        </div>
                    </div>
                    {% endfor %}
            
                    <div class="head-name" id="snack">Snacks</div>
                    {% for snack in snacks %}
                    <div class="items">
                        <div class="i-name">
                            <p >{{snack.name}}</p>
                        </div>
                        <div class="i-price">
                            <p >&#x20b9; {{snack.price}}</p>
                        </div>
                        <div class="i-check">
                            <input  type="checkbox" name="items[]" value="{{ snack.pk }}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            <div>
                <button class="button2" type="submit">PLACE ORDER!</button>
            </div>
        </form>
    </div>

{% endblock %}