{% extends 'rishabs/layout2.html' %}
{% block content %}
    <div>

        <form action="{% url 'order' %}" method="POST">
            {% csrf_token %}
            <div>
                {% for jui in juice %}
                <div>
                    <div>
                        <div>
                            <div>
                                <input type="checkbox" name="items[]" value="{{ jui.pk }}">
                                <label>{{ jui.name }}</label>
                            </div>
                            <p>{{ jui.price }}</p>
                        </div>
                        <p>{{ jui.description }}</p>
                    </div>
                </div>
                <hr/>
            {% endfor %}
            </div>

            <div>
                <button class="button1" type="submit">PLACE ORDER!</button>
            </div>
        </form>


    </div>
{% endblock %}